body {
    background-color: black;
    margin-left: 100px;
    color: white;
}

.button {
    color: black;
}

.textBox {
    color: black;
}

.biggerText {
    height: 200px;
    width: 500px;
}

.normalText {
    width: 500px;
}