@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DreamJournal.Models.Entry> 
    <h2>Dream Journal</h2>     <p>@Html.ActionLink("Dream list", "Index", "Entries")</p> 
