@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DreamJournal.Models.Entry> 
    <div class="bannerAlign">
        <h1 class="scanner">Dream Scanner</h1>
	    <p class="enterAlign">@Html.ActionLink("Enter", "Index", "Entries")</p>
	</div> 
